@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* Overpass: 300, 600 font-family: "Overpass", sans-serif;*/
/* Ubuntu: 400, 500, 700 font-family: "Ubuntu", sans-serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

:root {
    /* Primary */
    --light-red-primary: hsl(356, 100%, 66%);
    --very-light-red-primary: hsl(335, 100%, 74%);
    --very-dark-blue-primary: hsl(208, 49%, 24%);

    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --grayish-blue: hsl(240, 2%, 79%);
    --very-dark-grayish-blue: hsl(207, 13%, 34%);
    --very-dark-very-blue: hsl(240,10%, 16%);

    /* Gradient */
    --very-light-red: hsla(13, 100%, 72%, .8);
    --light-red: hsla(353, 100%, 62%, .8);

    --very-dark-gray-blue: hsl(237, 17%, 21%);
    --very-dark-desaturated-blue: hsl(237, 23%, 32%);
}